*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	/*font-family: 'Mulish', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}


#enzyme-pannel-container{
	width: 100%;
	height: 75vh;
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0px;
	overflow: visible;
	justify-content: center;
}

.enzyme{
	width: 80%;
	height: 33%;
	display: flex;
}

.enzyme-photo{
	min-width: 170px;
	width: 15%;
	height: 100%;
}

.enzyme-photo img{
	width: 110%;
}

.enzyme-name{
	padding: 15px;	
}

#enzyme2 .enzyme-name{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
}

#enzyme3 .enzyme-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#enzyme2 .enzyme-photo img{
	position: relative;
	top: -35px;
}

#enzyme1 span{
	color: #2C9E4B;
	cursor: pointer;
}

#enzyme2 span{
	color: #0273A3;
	cursor: pointer;
}

#enzyme3 span{
	color: #D14444;
	cursor: pointer;
}

#enzyme2{
	display: flex;
	justify-content: flex-end;
}

































#page2{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	align-items: center;
	justify-content: center;
}


#page2-det1{
	width: 65%;
	padding: 15px;
	margin: 30px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	height: fit-content;
}

#page2-table{
	width: 75%;
	margin: 50px 0px;
	height: fit-content;
}

#page2-det2{
	width: 65%;
	padding: 15px;
	margin: 30px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	height: fit-content;
	font-family: 'Open Sans', sans-serif;
}

#page2-det2 p{
	margin: 20px 0px;
	line-height: 30px;
}


#page2-det2 ul{
	line-height: 40px;
}

#page2-table table{
	width: 100%;
	border-collapse: separate;
}

#page2-table table tr td{
	text-align: center;
	border-bottom: 1px solid #ebe6e6;
}
#page2-table table tr{
	height: 60px;
	border-bottom: 1px solid grey;
}

#page2-table table tr th{
	color: white;
	background-color: #006C9A;
}

#page2-table table tr th:nth-child(1){
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#page2-table table tr th:last-child{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}



























#dummy-section{
	width: 100%;
	height: 200vh;
}




















/* 3rd enzyme seciton */

#enzyme-3-section{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0px;
	padding: 20px 0px;
	justify-content: center;
}

#s3-heading{
	width: 75%;
	height: 15%;
	font-size: 2.5rem;
	position: relative;
}

#s3-content{
	width: 75%;
	font-weight: 700;
	word-spacing: 5px;
	height: fit-content;
}

#s3-content img{
	width: 100%;
}

#s3-content p{
	margin: 25px 0px;
}






#s3-table-rows td{
	padding: 25px;
	text-align: center;
}

#s3-table-rows{
	width: 75%;
	border-collapse: collapse;

}

#s3-table-rows td{
	border-bottom: 1px solid grey;
}

#s3-table-rows tr:nth-child(1){
	width: 100%;
	height: 80px;
	color: white;
	margin-top: 50px;
	background-color: #006C9A;
}






@media screen and (max-width: 800px){

	#s3-table-rows{
		padding: 2px;
		font-size: 2vw;
	}

	#s3-heading{
		font-size: 1.8rem;
	}
}


@media screen and (max-width: 750px){
	#page2-table{
		width: 90%;
	}

	#page2-table table tr{
		font-size: 12px;
	}
}